<div class="time-indicator">
</div>
<div class="timeline">
  <div class="timenav">
    <div class="time">
      <div class="time-interval-minor">
        <div class="minor">
        </div>
      </div>
      <div class="time-interval-major">
        <span style="left: 200px;">1989</span>
      </div>
      <div class="time-interval">
        <span style="left: 28px;">
          Mars
        </span>
        <span style="left: 301px;">
          April
        </span>
      </div>
    </div>
  </div>
  <div class="timenav-background">
    <div class="timenav-indicator" style="left: 632px;"></div>
    <div class="timenav-interval-background">
      <div class="top-highlight">
      </div>
    </div>
  </div>
</div>
