body {
    background: #fafafa;
    font-family: 1em/1.4 Cambria, Georgia, sans-serif;
    /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
    height: 12000px;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.text-bubble {
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(51, 51, 51);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: rgb(255, 255, 255);
display: block;
font-family: Cambria, Georgia, sans-serif;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 76px;
line-height: 22px;
margin-bottom: 48px;
margin-left: 0px;
margin-right: 0px;
margin-top: 50px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
position: fixed;
text-align: center;
width: 470px;
}

/*.text-bubble {
	
	position:fixed;
	top:0px;
	left:0px;
	
    background:url('http://i.imgur.com/B19Zb.jpg');
    background-repeat: no-repeat;
    text-align: center;
    color:#fff;
    font-size:1.1em;
    height:140px;
    width:140px;
    line-height: 118px;  
}*/
/*
.text-bubble {
  display: block;
 -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #fff;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c81e2b), to(#f04349));
  background: -moz-linear-gradient(#c81e2b, #f04349);
  background: -o-linear-gradient(#c81e2b, #f04349);
  background: linear-gradient(#c81e2b, #f04349);
}

.text-bubble:before{

top: -20px;
bottom: auto;
left: auto;
right: 60px;
border: 0;
border-left-width: 30px;
border-top-width: 20px;
border-color: transparent #c81e2b;
}

.text-bubble:after{
  
}*/

.text-bubble a{
    vertical-align: middle;
    color:yellow;
    text-align:center
}

#video-element {
    position: fixed;
    top: 0;
    left: 0;
  	width: 100% !important;
    height: auto !important;
    margin: 0;
    z-index: -1;
}

#home {
  background: url(images/l1.png) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
 
#home article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}
 
#about {
  background: url(images/l3.png) 50% 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#about article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 100%;
}

#anitest {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 20s;
    -vendor-animation-iteration-count: infinite;
}
