body {
    background: #fafafa;
    font-family: Cambria, Georgia, sans-serif;
    /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
    height: 12000px;
    color: #333;
}

::-webkit-scrollbar {
    display: none;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.text-bubble {
    font-size: 40px;
    z-index: 10;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(51, 51, 51);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Cambria, Georgia, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 48px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    position: fixed;
    text-align: left;
    width: fit;
    height: height;
}

video.fillWidth {
    width: 100%;
}

.text-bubble:before{
    top: -20px;
    bottom: auto;
    left: auto;
    right: 60px;
    border: 0;
    border-left-width: 30px;
    border-top-width: 20px;
    border-color: transparent #c81e2b;
}

.text-bubble p{
    color:yellow;
}

#video-element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: auto !important;
    margin: 0;
}

.time-indicator {
    position: fixed;
    bottom: 0px;
    left: -10px;
    background-image: url("../images/up_arrow.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    z-index: 31;
}

.timeline {
    z-index: 9;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 -1px 3px 0 #e9e9e9;
    margin: 0;
    padding: 0;
    height: 53px !important;
}

.time-interval-minor {
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: 6px;
    background-color: white;
    background-image: url("../images/timeline_minor.png");
    background-repeat: repeat-x;
}

.time-interval {
    position: absolute;
    bottom: 25px;
    width: 100%;
    white-space: nowrap;
    height: 15px;
}

.time-interval span {
    padding-bottom: 30px;
    background-image: url("../images/timeline.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    color: rgb(102, 102, 102);
    font-family: 'News Cycle', sans-serif;
    font-size: 12px;
    position: absolute;
}

.time-interval-major {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 50px;
}

.time-interval-major span {
    padding-bottom: 33px;
    background-image: url("../images/timeline_major.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    color: rgb(102, 102, 102);
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
}

#timeline-events div {
    position: absolute;
    bottom: 9px;
//    left: 140px;

    width: 5px;
    height: 5px;
    background: rgb(102, 102, 102);
    /* -webkit-border-radius: 6px; */
    /* border-radius: 10px; */
}
