body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 12000px;
    color: #333;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.text-bubble {
    font-size: 40px;
}

#video-element {
    //position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: auto !important;
    margin: 0;
    z-index: -1;
}

.timeline {
    left: 0;
    bottom: 0;
    position: fixed;
    //width: 800%;
    white-space: nowrap;
    background-color: black;
    color: white;
    margin: 0;
    padding-top: 3px;
    font-size: 40px;
    height: 50px !important;
}